/* -----------------NORMALIZE ------------------*/
*{
  padding: 0;
  margin: 0;
  border:0;
}
h1, h2, h3, h4, h5, h6 { font-size: inherit;  padding:0;
  margin:0;
  border:0;}

  /*------------------- common style -----------------------*/

  ._container{
    box-sizing: content-box;
    max-width: 1920px;
    min-height: 100%;
    margin: 0px auto;
  }

  .wrap{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(240, 225, 205);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(10, 7, 22);
    min-height: 100vh;
  }
  /* ------------------------ style class -----------------------------*/


  .header {
    
  }
  .header__wrap-title{
    display: flex;
    justify-content: flex-start;
    padding: 40px 0px 5px 25px;
  }
  .header__title {
    font-size: 50px;
    width: 100rem;
  }
  .main {
  }
  .meme__container {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
  }
  .meme__line-decor {
    width: 100em;
    height: 3px;
    background-color: chocolate;
  }
  .meme__wrap-aling {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px;
  }
  .meme__slogan {
    font-size: 30px;
  }
  .meme__wrap-icon {
    transform: rotate(45deg);
    transition-duration: 1.5s;
  }
  .meme__container:hover .meme__wrap-icon{
    transition-duration: 0.5s;
    transform: rotate(0deg);
  }
  .meme__icon {
    height: 25px;
    width: 25px;
  }
  .meme__wrap-image {
    align-self: center;
    height: 0px;
    overflow: hidden;
    transition-duration: 0.5s;
  }
 .meme__container:hover .meme__wrap-image{
    height: 450px;
    transition-duration: 1s;
  }

  .meme__image-meme {
  }